# DO NOT CHANGE THIS FILE!
# 该文件仅作API参考和说明用途，不应该修改这个文件
# 请修改config.toml文件

version = 1

[general]

# 一个16位长的密码，如果不填写就会自动生成
# 需要确保服务端和客户端的key是一致的
key = ''

# 证书指向的域名
# 由于连接完全采用TLS1.2所以域名和证书都是必须的
domain = ''

[server]

# TLS1.2的密钥文件路径，绝对路径或相对于启动程序的路径
crt_file = ''
key_file = ''

# 服务器监听的网卡，支持IPv4
# 注意是完整的拼写
ipv4_address = '0.0.0.0'

# 监听端口
port = 9190

# 服务器端最大排队连接数
# 该数值必定大于并发数，超过这个数值的连接将会被拒绝
# 减小该数值能线性减小服务器内存用量
# 不过由于是Python程序，性能瓶颈一般是CPU
# 如果使用uvloop，该数值推荐设置为8192
backlog = 1024

[client]

# Socks5监听的网卡地址
socks5_address = '127.0.0.1'

# Socks5监听的端口
socks5_port = 9011

# 用户名
username = 'username'

# 密码
password = 'password'

# 客户端最大排队连接数
# 该数值必定大于并发数，超过这个数值的连接将会被拒绝
# 减小该数值能线性减小服务器内存用量
# 如果使用uvloop，该数值推荐设置为1024
backlog = 128
